# Managed by Ansible (content_resolver role). Edit defaults/main.yml, not this.
RESOLVER_HOST={{ resolver_bind }}
RESOLVER_PORT={{ resolver_port }}
RESOLVER_IPFS_INTERNAL={{ resolver_ipfs_internal }}
RESOLVER_ARWEAVE_INTERNAL={{ resolver_arweave_internal }}
RESOLVER_IPFS_PUBLIC_BASE={{ resolver_ipfs_public_base }}
RESOLVER_ARWEAVE_PUBLIC_BASE={{ resolver_arweave_public_base }}
RESOLVER_OVERRIDES_PATH={{ resolver_overrides_path }}
RESOLVER_FAVORITES_PATH={{ resolver_favorites_path }}
RESOLVER_SEED_CAPTURE_DIR={{ resolver_capture_dir }}
